@charset "UTF-8";
html{
    /* height: 100%; */
    background-repeat: no-repeat;
    background-image: linear-gradient(black,rgb(24,24,24));
}
body{
    margin: 0;
}
#upbox{
    height: 86px;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 3vh;
    background: black;
    position: fixed;
    top:0;
    z-index: 1;
}
.header{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 17%;
}
.header img{
    width: 80%;
}

.navbox{
    width: 82%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.topnav {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}
  
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.topnav a:hover {
    /* 글씨 굵고 크게 */
    font-weight: bold;
    font-size: 1.5rem;
}
  
.topnav a.active {
    /* 글씨 굵고 크게 */
    font-weight: bold;
    font-size: 1.5rem;
}
#downbox{
    width: 80%;
    margin:86px auto;
    padding-top: 2vh;

}
li,ul{
    list-style: none;
    padding:0;
}
a{
    text-decoration: none;
}
#boxtitle{
}
#maintitle{
    display: inline-block;
    color: white;
    font-size: 2rem;
}
hr{
    border:1px solid #6633FF;
}
.reservelist{
    display: block;
    text-align: justify;
}
li{
    width: 100%;
    height: auto;
    margin: 4vh 0 0 0;
    padding-left: 2vw;
    padding-bottom: 4vh;
    vertical-align: middle;
    position: relative;
    border-bottom: 1px solid #6633ff70;
    box-sizing: border-box;
}
.poster{
    display: inline-block;
    width:15vw;
    vertical-align: middle;
    height: 100%;
}
.poster .img{
    width: 15vw;
}
.poster .img img{
    width: 15vw;
}
.movielist .poster a{

}
.discription{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: 2vw;
}
.movietitle,.cancel,.reservenum,.reservedate,.reservetheater,.reservepeople{
    margin-top: 2vh;
    margin-bottom: 2vh;
    color:white;
}
.movietitle,.movietitle a{
    font-size: 1.5rem;
    display: inline-block;
    color:white
}
.cancel, .cancel a{
    display: inline-block;
    color: #6633FF;
}
.cancel{
    margin-left: 1vw;
}
.reservenum{
    font-size: 1.3rem;
}