@charset "UTF-8";
html{
    /* height: 100%; */
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-image: linear-gradient(black,rgb(24, 24, 24));
    font-size: 16px;
}

#upbox{
    height: 68.7px;
    vertical-align: middle;
    margin-bottom: 3vh;
}

.header{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 17%;
}
.header img{
    width: 80%;
}

.navbox{
    width: 82%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.topnav {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

}
  
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  
.topnav a:hover {
    /* 글씨 굵고 크게 */
    font-weight: bold;
    font-size: 1.5rem;
}
  
.topnav a.active {
    /* 글씨 굵고 크게 */
    font-weight: bold;
    font-size: 1.5rem;
}

#downbox{
    background:rgb(237, 237, 237);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    left:0;
    text-align: left;
}

.container input[type=submit]{
    margin-left: 1vw;
    font-size: 1.5rem;
    padding: 16px 48px;
    background-color: rgb(0,162,255);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: rgb(170, 169, 169) 0px 5px 9px 0px;
}

.midbox{
    width: 90vw;
    height: 13vh;
    margin: 0 auto;
    margin-top: 3vh;
}

.container {
    width: 20vw;
    height: 14vh;
    display: inline-block;
    vertical-align: top; 
}

.container.third{
    text-align: right;
    margin-left: 28.8vw;
    margin-top: 1vh;
}

.container.second{
    padding: 4px;
}

.mid_box{
    width: 90vw;
    margin: 0 auto;
}

.title{
    background-color: rgb(87, 65, 138);
    width:90vw;
    height:8vh;
    text-align: left;
    opacity: 0.59;
}

.double_box{
    background-color: rgb(148, 133, 178, 0.59);
    width:90vw;
    height:4vh;
    text-align: left;  
}

.title h2{
    color: white;
    padding: 15px;
    margin: 0;
}

.movie h2{
    color: black;
    padding-left:15px;
    margin: 0;
}

.movie h4{
    color: black;
    padding-top: 7px;
    margin: 0;
}

.movie {
    display: inline-block;
    vertical-align: top; 
}

.movie.num {
    width: 4vw;
    height: 3vh;
}

.movie.kind {
    width: 8vw;
    height: 3vh;   
}

.table h5,.table h2{
    margin:0;
    padding-top: 1px;
}
.double_down_box{
    height: 11.7vh;   
}

.time_1{
    display: inline-block;
}

.table{
    width: 4vw;
    /* vertical-align: top;  */
    text-align: center;
    margin-left: 1vw;

}

span{
    display: block;
}

.timeinfo{
    width: 5vw;
    height: 11.7vh;
    padding-right: 1.5vw;
    text-align: center;
    margin-top:0;
    margin-bottom:0;
}

a{
    text-decoration: none;
    color: black;
}

.time_1 p a span:nth-child(1) {
    display: none;
    color:white;
    font-size:1.35em;
    font-weight: bolder;
    width: 6vw;
    height: 8vh;
    padding-top: 3vh;
    background: #424242;  
}
.time_1 p a span:nth-child(2),.time_1 p a span:nth-child(3),.time_1 p a span:nth-child(4) {
     color: black;
}
.time_1 p a:hover span:nth-child(2),.time_1 p a:hover span:nth-child(3),.time_1 p a:hover span:nth-child(4) {
    display: none;
}
.time_1 p a:hover span:nth-child(1){
    display: block;
}
.time_1 p a span:nth-child(2) {
    font-size: 0.8em;
    font-weight: bolder;
    padding-top: 1.5vh;  
}
.time_1 p a span:nth-child(3) {
    font-size: 1.5em;
    font-weight: bolder;   
}
.time_1 p a span:nth-child(4) {
    font-size: 0.8em;
    font-weight: bolder;   
}

































