#leftbox{
    width: 17.5vw;
    height:100vh;
    float: left;
    background-color: black;
    position:fixed;
}
#downbox{
    width: 82.5vw;
    height:107vh;
    float: right;
    background-color:  rgb(237, 237, 237);
}
.nemo{
    background-color: #2E2E2E;
    width: 17.5vw;
    height: 9vh;
    color: white;
}
#upbox{
    width: 82.5vw;
    height:13vh;
    float: right;
    background-color:  white;
}
#main_container{
    width: 100vw;
    height:120vh;
    margin: 0;
}
.header{
    text-align: center;
    display: block;
    width: 17.5vw;
}
.header img{
    width: 90%;
}
.nav{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.nav_list{
    list-style: none;
    padding-left: 0;
    text-align: center;
    color: gray;
}
.nav_list img{
    width:30px;
    height:30px;
}
.nav_link{
    text-decoration: none;
    display: block;
}
.nav_item{
    height: 8vh;
    font-size: 1.5em;
    padding-top:5px;
    line-height: 8vh;
}
.container {
    width: 13vw;
    display: inline-block;
}
.container a{
    text-decoration: none;
    color: gray;
}
.container.first{
    margin-left:2vw;
    margin-top:0.5vh;
}
.container.second{
    text-align: right;
    margin-left:38vw;
}
.container.third{
    text-align: left;
    padding-left: 1.7vw;
}
body{
    margin:0;
}
.month{
    display: inline-block;
    margin-left: 3.5vw;
}
.month.first{
    margin-left: 0.5vw;
}
.month p{
    color: gray;
    font-size: 0.9em;
}
#top{
    height: 23vh;
    margin-bottom: 1vh;
}
.month_simul{
    height: 9vh;
}
.month_simple{
    height: 15vh;
}
.commute{
    display: inline-block;
    float: left;
    text-align: center;
}
.commute.same{
    background-color: white;
    box-shadow: 2px 2px 4px #848484;
    height: 11vh;
    width: 10.5vw;
    margin-right: 4vw;
}
.commute.diff1{
    background-color: #004479;
    box-shadow: 2px 2px 4px #848484;
    margin-left: 3.5vw;
    height: 11vh;
    width: 5vw;
    line-height: 11vh;
}
.commute.diff2{
    background-color:#FF4F79;
    box-shadow: 2px 2px 4px #848484;
    height: 11vh;
    width: 5vw; 
    line-height: 11vh;
}
.commute.diff3{
    background-color: #FF9800;
    box-shadow: 2px 2px 4px #848484;
    height: 11vh;
    width: 5vw; 
    line-height: 11vh;
}
.commute.diff4{
    background-color: #01AF3E;
    box-shadow: 2px 2px 4px #848484;
    height: 11vh;
    width: 5vw;
    line-height: 11vh;
}
.commute span{
    font-size: 1.9em;
    color: white;
    font-weight: bolder;
}
.record{
    display: inline-block;
    vertical-align: top;     
    /* 혁명    */
}
.record.short{
    width: 15.5vw;
    margin-left: 3.5vw;
}
.record.long{
    width: 35.5vw;
    margin-left: 3.5vw;
}
.date{
    display: inline-block;
    font-size: 1.15em;
    margin: 1.5vh 0.5vw 1vh 0.5vw;
    width: 6vw;
}
.date_val{
    display: inline-block;
    width: 6vw;
    margin: 1vh 0.5vw 1vh 0.5vw;    
}
.latetime,.overtime,.resttime{
    background-color: white;
    font-size:1.1em;
    /* border: 0.5px solid #848484; */
    box-shadow: 2px 2px 4px #848484;
    text-align: center;
}
hr{
    width:13vw;
    margin-top:0vh;
    margin-bottom: 0vh;
}
.datediff{
    display: inline-block;
    margin: 1.5vh 2vw 1vh 2vw;
    font-size: 1.15em;
    width: 6.5vw;
}
.real_val{
    display: inline-block;
    width: 6.5vw;
    margin: 1vh 2vw 1vh 2vw;
}
.resttime hr{
    width:32.5vw;
}
#mid{
    margin-bottom: 5vh;
    margin-top:1vh;
}
.bottom{
    display: inline-block;
    vertical-align: top;     
    /* 혁명    */
}
.bottom.short{
    width: 35vw;
    margin-left: 3.5vw;    
    margin-right: 0.4vw;
}
.salary{
    background-color: white;
    font-size:1.1em;
    box-shadow: 2px 2px 4px #848484;
    text-align: center;
}
.basic{
    background-color: white;
    font-size:1.1em;
    box-shadow: 2px 2px 4px #848484;
    text-align: center;
}
.general{
    display: inline-block;
    font-size: 1.15em;
    margin: 2vh 5vw 2vh 3vw;
    width: 9vw;
}
.general.con,.fir.cen{
    font-weight:bold;
}
.fir{
    display: inline-block;
    font-size: 1.15em;
    margin: 2vh 0.4vh 2vh 0.4vw;
    width: 7vw;
}
.line{
    display: inline-block;
    margin : 0 0.5vw 0 0.5vw;   
}
.nemo_diff:hover{
    background-color:white;
}




